* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 920px;
  margin: 0 auto;
  background-color: #fff;
  color: #333333;
  font-family: 'Source Serif Pro', serif;
  font-size: 22px;
  font-weight: bold;
}

header {
  padding-left: 10px;
  margin: 20px 20px 55px 20px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

header .photo-container {
  margin-right: 20px;
}

header .description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header .photo {
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: black;
}

section {
  margin-bottom: 65px;
  padding-left: 10px;
}

section h3 {
  padding: 0 20px;
  margin-bottom: 1em;
}

section .section-content {
  padding: 0 20px;
  border-left: 2px solid #222222;
}

section p {
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 1em;
}

@media only screen and (min-width: 960px) {
  header {
    position: relative;
  }

  header .photo-container {
    position: absolute;
    left: -65px;
  }
}